<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-downloadManager"
  version="0.0.1">
  
  <name>cordova-plugin-downloadManager</name>
  <description>Download manager for cordova</description>
  <license>MIT</license>
  <author>Xingyu Jiao</author>
  <keywords>cordova, downloadManager, chinese</keywords>

  <repo>https://github.com/JrontEnd/cordova-plugin-downloadManager.git</repo>
  <issue>https://github.com/JrontEnd/cordova-plugin-downloadManager/issues</issue>
  
  <engines>
    <engine name="cordova" version=">3.0.0" />
  </engines>
  
   <js-module src="www/DownloadManager.js" name="DownloadManager">
        <clobbers target="windows.downloadmanager" />
    </js-module>
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="DownloadManager" >
            <param name="android-package" value="org.apache.cordova.plugins.DownloadManager.DownloadManager"/>
        </feature>
    </config-file>

    <!-- copy java files -->
    <source-file src="src/android/DownloadControllerSingleton.java" target-dir="src/org/apache/cordova/plugins/DownloadManager" />
    <source-file src="src/android/Downloader.java" target-dir="src/org/apache/cordova/plugins/DownloadManager" />
    <source-file src="src/android/DownloadManager.java" target-dir="src/org/apache/cordova/plugins/DownloadManager" />

    <!-- copy image files -->
    <source-file src="res/drawable-hdpi/ic_stat_notification.png" target-dir="res/drawable-hdpi" />
    <source-file src="res/drawable-hdpi-v9/ic_stat_notification.png" target-dir="res/drawable-hdpi-v9" />
    <source-file src="res/drawable-hdpi-v11/ic_stat_notification.png" target-dir="res/drawable-hdpi-v11" />
    <source-file src="res/drawable-ldpi-v9/ic_stat_notification.png" target-dir="res/drawable-ldpi-v9" />
    <source-file src="res/drawable-ldpi-v11/ic_stat_notification.png" target-dir="res/drawable-ldpi-v11" />
    <source-file src="res/drawable-mdpi/ic_stat_notification.png" target-dir="res/drawable-mdpi" />
    <source-file src="res/drawable-mdpi-v9/ic_stat_notification.png" target-dir="res/drawable-mdpi-v9" />
    <source-file src="res/drawable-mdpi-v11/ic_stat_notification.png" target-dir="res/drawable-mdpi-v11" />
    <source-file src="res/drawable-xhdpi/ic_stat_notification.png" target-dir="res/drawable-xhdpi" />
    <source-file src="res/drawable-xhdpi-v9/ic_stat_notification.png" target-dir="res/drawable-xhdpi-v9" />
    <source-file src="res/drawable-xhdpi-v11/ic_stat_notification.png" target-dir="res/drawable-xhdpi-v11" />
  </platform>
    
</plugin>
